.main{
    padding: 10px;
}

.miniMain{
    margin-bottom: 15px;
    line-height: 150%;
}

.avatarMini{
    width: 100px;
    height: 100px;
    background: #633A81;
    border-radius: 50%;
}

.selectedPage{
    font-weight: bold;

}

.cursorPointer{
     cursor: pointer;
}